* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    padding: 0 20px;
    background-color: #fff;
}

ul, li, ul li {list-style: none; align-items: center; gap: 20px; font-weight: 400;}
a, ul a, ul li a {color: #000; text-decoration: none; font-size: 1.1em;}
ul {display: flex;}

h1, h2 {
    font-size: 30px;
    font-weight: 400;
}

.d-flex {display: flex; align-items: center;}
.jc-sb {justify-content: space-between;}
.jc-sa {justify-content: space-around; gap: 20px;}

button {cursor: pointer; background: transparent; border: none; font-family: inherit;}

/* .wrapper {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: #fff;
    display: grid;
    place-items: center;
    transition: opacity .25s, visibility 1s;
}

.fade {
    opacity: 0;
    visibility: hidden;
} pre loader */

header {
    padding: 20px 0px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    width: 98%;
    background: white;
}

header a::after {
    content: "";
    width: 0;
    background: #000;
    height: 2px;
    display: block;
    transition: width 300ms;
}

header a:hover::after {width: 100%;}
/* header li a:hover .submenu {display: flex !important;} */

.serch-links li[hamburger] {display: none;}
.serch-links .carrello::after {
    content: attr(data-items-number);
    background-color: #ff4754;
    user-select: none;
    position: absolute;
    width: 1rem;
    height: 1rem;
    font-size: .8rem;
    border-radius: 50%;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 37px;
    right: 50px;
}

.nav-aside {
    visibility: hidden;
    position: absolute;
    overflow-x: hidden;
    top: 0;
    height: 100vh;
    background-color: #fff;
    width: 320px;
    transform: translateX(320px);
    transition: transform .25s;
}

.nav-aside-icon {width: 21px; height: 21px;}
.nav-aside-icon-2 {width: 30px; height: 30px;}

/* nav aside links 1 */

.nav-aside-links li:nth-child(1) {
    padding-top: 30px;
    justify-content: end;
    padding-right: 40px;
    padding-bottom: 20px;
}

.nav-aside-links li:not(:first-child) {
    margin-top: 20px;
    padding-left: 10px;
}
.nav-aside-links a h1 {font-size: 22px;}
.nav-aside-links-2 a h1 {font-size: 19px;}

/* nav aside links 2 */

.nav-aside-links-2 {
    border-top: 1px solid black;
    margin: 50px 50px;
    padding: 20px 0;
    flex-direction: column;
    gap: 17px;
}

.nav-aside-icon-2 li a {gap: 30px;}

/* submenu */

.submenu {
    justify-content: space-around;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px 300px;
    z-index: 9999;
    
    display: none;
    background: antiquewhite;
    align-items: center;
}

.column h1 {font-size: 1.2em; margin-bottom: 20px;}

.column a {color: grey; font-size: .9em;}
.column a:hover {color: #000; transition: color .2s;}

/**/

.logo {
    cursor: pointer;
    font-weight: bold;
}

.logo:hover {opacity: .8; transition: all .2s;}

.nav-links {
    margin-right: 150px;
}

.hamburger {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-block: 6px;
    border-radius: 4px;
    transition: transform .5s, opacity .2s;
}

.hamburger.active .line:nth-child(1) {transform: translateY(13px) rotate(45deg);}
.hamburger.active .line:nth-child(2) {opacity: 0;}
.hamburger.active .line:nth-child(3) {transform: translateY(-13px) rotate(-45deg);}


.icon {
    width: 25px; 
    height: 25px;
}

main {margin-top: 30px; margin-bottom: 100px;}

.container {
    padding: 0 30px 40px 0;
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: #757575 transparent;
    transition: color 250ms ease-in-out;
}

.container li {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    scroll-padding: calc(24px * 2);
}

.container li:not(:last-child) {scroll-margin-left: 100px;}

.container img {width: clamp(520px, 520px, 520px); cursor: pointer;}

.title {padding-bottom: 10px;}

.price-container {padding-right: 15px; margin-bottom: 7px; margin-top: 4px;}
.product-name {font-size: 25px; font-weight: 700;}

.pre-content {padding: 20px 0;}

.pre-content img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.pre-content-text {
    text-align: center;
    margin-top: 30px;
}

.pre-content-text h1 {
    font-size: 50px;
    word-spacing: 7px;
    letter-spacing: -1px;
}

.pre-content-text p {
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.btn-container button {
    font-size: 14px;
    background: black;
    color: white;
    border-radius: 15px;
    padding: 8px 20px;
}

.btn-container button:hover {opacity: .8; transition: all .2s;}

/* footer */

footer {
    background: rgb(26, 26, 29) none repeat scroll 0% 0%;
    width: 100%;
    position: absolute;
    left: 0;
    color: #fff;
    padding: 48px 38px;

    z-index: -1; /* beacuse of mobile nav */
}

footer a {color: rgb(160, 160, 160)}

.footer-container {
    flex-flow: row wrap;
}

.footer-item1, .footer-item2 {flex: 1 1 50%;}

.footer-row {
    width: 30%;
    float: left;
}

.footer-row-title {
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-row-info {
    margin-top: 20px;
    line-height: 23px;
}

.footer-row-info a {font-size: .93em;}
.footer-row-info a:hover {text-decoration: underline;}

.footer-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apps-list {display: flex;}

.app-link {
    height: 37px; 
    display: inline-block;
}

.app-icon-1,
.app-icon-2 {
    height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
}

.app-icon-1 {background-image: url(https://s2.coinmarketcap.com/static/cloud/img/app_store_badge_white_1.svg?_=dc3843f);}
.app-icon-2 {background-image: url(https://s2.coinmarketcap.com/static/cloud/img/google_play_badge_1.png?_=dc3843f);}

@media only screen and (max-width: 1280px) {
    .footer-item1 {flex: 1 1 100%;} 
    .footer-item1 {margin-bottom: 20px;}
}

@media only screen and (max-width: 720px) {
    .footer-row {width: 50%;}
    .footer-meta {margin-top: 40px;}
    .footer-row:last-child {margin-top: 20px;}
    .footer-item1 {margin-bottom: 40px;}
}

@media only screen and (min-width: 768px) {
    .footer-meta {padding: 40px 155px 0 0; margin-top: 20px;}
}

@media only screen and (max-width: 470px) {
    .apps-list {display: unset;}
    .apps-list .app-icon-1 {margin-bottom: 6px;}
}

@media only screen and (max-width: 360px) {
    .footer-row {width: 100%; margin-top: 20px;}
    .footer-container {text-align: center;}
    .footer-item1 {margin-bottom: 20px;}
    .footer-meta {
        justify-content: center; 
        flex-direction: column;
    }
    .footer-meta .rights {margin-bottom: 20px;}
}

/* whole WS medias */

@media only screen and (max-width: 800px) {
    body {padding: 0;} .pre-content {padding: 20px 10px;} main {padding: 0 20px;}

    .nav-links, .submenu {display: none;}

    header {
        width: 100%;
        justify-content: space-between;
        padding-right: 15px;
        padding-left: 20px;
        max-height: 76.5px;
    }

    .serch-links .carrello::after {
        display: inline-block;
        position: fixed;
        right: 100px;
        text-align: center;
        font-weight: bold;
    }

    .container {gap: 20px;}
    .container img {max-width: 320px;}
    .container li:not(:last-child) {scroll-margin-left: 30px;}
    .price-container {padding-right: 0;}

    .pre-content img {margin-top: 70px;}

    .pre-content-text {margin-top: 60px;}
    .pre-content-text h1 {line-height: 50px;}

    .btn-container {gap: 30px}

    .serch-links li[hamburger] {display: block;}

    .nav-aside.active {
        visibility: visible;
        transform: translateX(-156px);
        transition: transform .25s;
    }

    .serch-links li:not(:last-child) .nav-aside.active {display: none;}
    .nav-aside-links {display: unset;}
  }

@media only screen and (max-width: 430px) {.btn-container {gap: 20px}}
@media only screen and (max-width: 390px) {.btn-container {gap: 10px}}